<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
<script src="http://cdn.bootcss.com/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
<script src='index.js'></script>

<body ng-app="app" ng-controller="Controller as ctrl">
    <section>
        <h4>a</h4>
        <a>Anchor directive without href</a>
        <a href="">Anchor directive with empty href</a>
        <a href="http://littlelyon.com">Anchor directive with href</a>
    </section>
    <section>
        <h4>input</h4>
        <form name="myForm">
            <code>myForm.$valid = {{myForm.$valid}}</code><br>
            <code>myForm.$error = {{myForm.$error}}</code><br>

            <input name="_input" ng-model="ctrl._input">Hello: {{ctrl._input}}
            <input type="checkbox" name="checkbox" ng-model="ctrl._checkbox" ng-true-value="'YES'" ng-false-value="'NO'"> {{ctrl._checkbox}}
            <input type="date" placeholder="yyyy-MM-dd" ng-model="ctrl._date">
            <input type="datetime-local" placeholder="yyyy-MM-dd" ng-model="ctrl._date">
            <input type="month" placeholder="yyyy-MM-dd" ng-model="ctrl._date">
            <input type="week" placeholder="yyyy-MM-dd" ng-model="ctrl._date">
            <input type="time" placeholder="yyyy-MM-dd" ng-model="ctrl._date"> {{ctrl._date | date: "yyyy-MM-dd"}}
            <input type="email" ng-model="ctrl._email"> {{ctrl._email}}
            <input type="number" step="2" ng-model="ctrl._number"> {{ctrl._number}}
            <input type="radio" value="Foo" ng-model="ctrl._radio">Foo
            <input type="radio" value="Bar" ng-model="ctrl._radio">Bar
            <input type="radio" value="Baz" ng-model="ctrl._radio">Baz 
            
            <h2>{{ctrl._radio}}</h2>
            <input type="range" ng-model="ctrl._range" min="0" max="100"> {{ctrl._range}}
            <input type="text" ng-model="ctrl._text"> {{ctrl._text}}
            <input type="url" ng-model="ctrl._url"> {{ctrl._url}}
        </form>
    </section>
    <section>
        <h4>simple ng-****</h4>
        <span ng-bind="ctrl._ngBind"></span>
        <span ng-bind-html="ctrl._ngBindHtml"></span>
        <input type="text" ng-model="ctrl._ngBindTemplate"></label><br>
        <span ng-bind-template="{{ctrl._ngBindTemplate}}"></span>
        <input ng-blur="ctrl._cb('onblur')">
        <input ng-change="ctrl._cb('onchange')" ng-model="ctrl._input">
        <input type="checkbox" ng-checked="ctrl._ngChecked">{{ctrl._ngChecked}}
        <span ng-class="ctrl._ngClass">ngClass</span>
        <ol ng-init="names=['John', 'Mary', 'Cate', 'Suz']">
            <li ng-repeat="name in names">
                <span ng-class-odd="'blue'" ng-class-even="'red'">{{name}}</span>
            </li>
        </ol>
        <button ng-click="ctrl._cb('onclick')">ngClick</button>
        <input type="text" ng-copy="ctrl._cb('oncopy')">
        <input type="text" ng-cut="ctrl._cb('oncut')">
        <button ng-dblclick="ctrl._cb('ondblclick')">ngDblClick</button>
        <input type="text" ng-disabled="true">
        <input type="text" ng-focus="ctrl._cb('onfocus')">
        <input type="checkbox" ng-model="ctrl._ngHide">{{ctrl._ngHide}}
        <span ng-hide="ctrl._ngHide">i am ngHide panel</span>
        <a ng-href="http://{{ctrl._ngHref}}">ngHref</a>
        <input type="checkbox" ng-model="ctrl._ngIf">{{ctrl._ngIf}}
        <span ng-if="ctrl._ngIf">i am ngIf panel</span>
        <div ng-init="_ngInit='i am ngInit'"><span>{{_ngInit}}</span></div>
        <input type="text" ng-keydown="ctrl._cb('onkeydown')">
        <input type="text" ng-keypress="ctrl._cb('onkeypress')">
        <input type="text" ng-keyup="ctrl._cb('onkeyup')">
        <input type="text" ng-model="ctrl._ngList" ng-list="|"> {{ctrl._ngList | json}}
        <form name="myForm1">
            <input name='_ngModelOpts' type="text" ng-model="ctrl._ngModelOptions" ng-model-options="{updateOn: 'blur'}" ng-keyup="ctrl._cancel($event)">{{ctrl._ngModelOptions}}
        </form>
        <button ng-mousedown="ctrl._cb('onmousedown')">ng-mousedown</button>
        <button ng-mouseenter="ctrl._cb('onmouseenter')">ng-mouseenter</button>
        <button ng-mouseleave="ctrl._cb('onmouseleave')">ng-mouseleave</button>
        <button ng-mousemove="ctrl._cb('mousemove')">ng-mousemove</button>
        <button ng-mouseover="ctrl._cb('mouseover')">ng-mouseover</button>
        <button ng-mouseup="ctrl._cb('mouseup')">ng-mouseup</button>
        <span>{{ctrl._ngNonBindable}}</span>
        <span ng-non-bindable>{{ctrl._ngNonBindable}}</span>
        <input type="text" ng-paste="ctrl._cb('onpaste')">
        <input type="text" ng-readonly="true" value="I'm Angular" aria-label="Readonly field" />
        <span ng-repeat="n in [1,2,3,4,5]">{{n}}</span>
        <span ng-repeat="n in [1,2,2,2,5] track by $index">{{n}}</span>
        <form name="myForm2">
            <input name="_ngRequired" ng-model='ctrl._ngRequired' type="text" ng-required="true">Required is: {{myForm2._ngRequired.$error.required}}
        </form>
        <select aria-label="ngSelected demo">
            <option>Hello!</option>
            <option id="greet" ng-selected="true">Greetings!</option>
        </select>
        <input type="checkbox" ng-model="ctrl._ngShow">{{ctrl._ngShow}}
        <span ng-show="ctrl._ngShow">i am ngShow panel</span>
        <span ng-style="{'background-color':'green'}">ngStyle</span>
        <form ng-submit="ctrl._cb('onsubmit')">
            <input type="submit" id="submit" value="Submit" />
        </form>
        <h4>advanced ng-****</h4>
        <select ng-model="ctrl._ngSwitch" ng-options="item for item in ['foo','bar','baz']"></select>
        <div ng-switch="ctrl._ngSwitch">
            <span ng-switch-when="foo">foo</span>
            <span ng-switch-when="bar">bar</span>
            <span ng-switch-when="baz">baz</span>
            <span ng-switch-default>default</span>
        </div>
    </section>
</body>

</html>