<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
<script src='index.js'></script>

<body ng-app="app" ng-controller="Controller as ctrl">
    <section>
        <h4>bind</h4>
        <div>{{ctrl.Fn()}}</div>
        <div>{{ctrl.newFn()}}</div>
    </section>
    <section>
        <h4>copy</h4>
        <div ng-repeat="e in ctrl._copy">{{e}}</div>
        <div>{{ctrl.dest | json}}</div>
    </section>
    <section>
        <h4>equals</h4>
        <div ng-repeat="e in ctrl._equals">{{e}}</div>
    </section>
    <section>
        <h4>extend</h4>
        <div ng-repeat="e in ctrl._extends">{{e}}</div>
    </section>
    <section>
        <h4>forEach</h4>
        <div>{{ctrl._forEach1 | json}}</div>
        <div>{{ctrl._forEach2 | json}}</div>
    </section>
    <section>
        <h4>toJson/fromJson</h4>
        <div ng-repeat="e in ctrl._toJson">{{e | json}}</div>
        <div ng-repeat="e in ctrl._fromJson">{{e}}</div>
    </section>
    <section>
        <h4>identity</h4>
        <div>{{ctrl._identity(ctrl.Fn1, 3)}}</div>
        <div>{{ctrl._identity(undefined, 3)}}</div>
        <div>{{ctrl._identity(null, 3)}}</div>
    </section>
    <section>
        <h4>is****</h4>
        <div>{{ctrl._isArray}}</div>
        <div>{{ctrl._isDate}}</div>
        <div>{{ctrl._isDefined}}</div>
        <div>{{ctrl._isElement}}</div>
        <div>{{ctrl._isFunction}}</div>
        <div>{{ctrl._isNumber}}</div>
        <div>{{ctrl._isObject}}</div>
        <div>{{ctrl._isString}}</div>
        <div>{{ctrl._isUndefined}}</div>
    </section>
    <section>
        <h4>merge</h4>
        <div ng-repeat="e in ctrl._merge">{{e | json}}</div>
    </section>
</body>

</html>